<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.ibm.wala.core.tests/src/com/ibm/wala/examples/drivers/PDFSlice.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ibm.wala.examples.drivers.PDFSlice"/>

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\test\Test.class; -mainClass LTest -srcCaller main -srcCallee println -dd full -cd full -dir backward"/>
 -->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\Soot\soot-develop\tests\test\Test.class -mainClass LTest -srcCaller main -srcCallee m1 -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\JLex.jar -mainClass LJLex/Main -srcCaller generate -srcCallee userDeclare -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" -appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\antlr\antlr.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\antlr\antlr-deps.jar -mainClass Lantlr/Tool -srcCaller doEverything -srcCallee newInstance -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\antlr\antlr.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\antlr\antlr-deps.jar -mainClass Lantlr/Tool -srcCaller makeToken -srcCallee newInstance -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\luindex\luindex.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\luindex\luindex-deps.jar -mainClass Ldacapo/luindex/Main -srcCaller getDirectory -srcCallee newInstance -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\luindex\luindex.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\luindex\luindex-deps.jar -mainClass Ldacapo/luindex/Main -srcCaller get -srcCallee newInstance -dd full -cd full -dir backward"/>
-->


<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\avrora\avrora-beta-1.7.115.jar -mainClass Lavrora/Main -srcCaller getObjectOfClass -srcCallee newInstance -dd full -cd full -dir backward"/>


<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\checkstyle\checkstyle-all-4.4.jar -mainClass Lcom/puppycrawl/tools/checkstyle/Main -srcCaller getHandler -srcCallee newInstance -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\checkstyle\checkstyle-all-4.4.jar -mainClass Lcom/puppycrawl/tools/checkstyle/Main -srcCaller createObject -srcCallee newInstance -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\findbugs\asm-3.0.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\findbugs\asm-commons-3.0.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\findbugs\asm-tree-3.0.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\findbugs\bcel.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\findbugs\coreplugin.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\findbugs\dom4j-full.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\findbugs\findbugs.jar -mainClass Ledu/umd/cs/findbugs/FindBugs2 -srcCaller createDetector2 -srcCallee newInstance -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-jarDir C:\Users\yifei\Desktop\PLDI'16\benchmarks\findbugs -mainClass Ledu/umd/cs/findbugs/FindBugs2 -srcCaller createDetector2 -srcCallee newInstance -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-jarDir C:\Users\yifei\Desktop\PLDI'16\benchmarks\findbugs -mainClass Ledu/umd/cs/findbugs/FindBugs2 -srcCaller createUsingStaticCreateMethod -srcCallee invoke -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" -appJar blah.jar -jarDir C:\Users\yifei\Desktop\PLDI'16\benchmarks\eclipse\plugins -mainClass Lorg/eclipse/core/runtime/adaptor/EclipseStarter -srcCaller loadConfigurators -srcCallee newInstance -dd full -cd full -dir backward"/>
-->

<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.ibm.wala.core.tests"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xss1g -Xmx6g -ea"/>
</launchConfiguration>
