<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.ibm.wala.core.tests/src/com/ibm/wala/examples/drivers/PDFSlice.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ibm.wala.examples.drivers.PDFSlice"/>

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" -appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\bloat\bloat.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\bloat\bloat-deps.jar -mainClass Ldacapo/bloat/Main -srcCaller printGraph -srcCallee println -dd full -cd full -calleeLineNumber 2180 -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" -appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\bloat\bloat.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\bloat\bloat-deps.jar -mainClass Ldacapo/bloat/Main -srcCaller print -srcCallee print -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" -appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\bloat\bloat.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\bloat\bloat-deps.jar -mainClass Ldacapo/bloat/Main -srcCaller println -srcCallee println -dd full -cd full -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" -appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\bloat\bloat.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\bloat\bloat-deps.jar -mainClass Ldacapo/bloat/Main -srcCaller println -srcCallee println -dd full -cd full -dir backward"/>
-->


<!--<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" -appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\bloat\bloat.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\bloat\bloat-deps.jar -mainClass LEDU/purdue/cs/bloat/tools/BloatBenchmark -srcCaller printGraph -srcCallee println -dd full -cd full -calleeLineNumber 2180 -dir backward"/>-->



<!--<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" -appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\antlr\antlr.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\antlr\antlr-deps.jar -bm antlr -mainClass Lantlr/Tool -srcCaller doEverything -srcCallee newInstance -dd full -cd full -calleeLineNumber 250 dir backward"/>-->



<!--<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\antlr\antlr.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\antlr\antlr-deps.jar -bm antlr -mainClass Lantlr/Tool -srcCaller makeToken -srcCallee newInstance -dd full -cd full -calleeLineNumber 175 -dir backward"/>-->


<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\fop\fop.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\fop\fop-deps.jar -bm fop -mainClass Lantlr/Tool -srcCaller makeToken -srcCallee newInstance -dd full -cd full -calleeLineNumber 175 -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\fop\fop.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\fop\fop-deps.jar -bm fop -mainClass Lorg/apache/fop/apps/Fop -srcCaller setupDefaultMappings -srcCallee nextElement -dd full -cd full -calleeLineNumber 322 -dir backward"/>
-->

<!--
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\fop\fop.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\fop\fop-deps.jar -bm fop -mainClass Lorg/apache/fop/apps/Fop -srcCaller run -srcCallee getRenderer -dd full -cd full -calleeLineNumber 104 -dir backward"/>
-->


<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\fop\fop.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\fop\fop-deps.jar -bm fop -mainClass Lorg/apache/fop/apps/Fop -srcCaller run -srcCallee getRendererOptions -dd full -cd full -calleeLineNumber 104 -dir backward"/>



<!--<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-appJar C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\fop\fop.jar;C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\fop\fop-deps.jar -bm fop -mainClass Lorg/apache/fop/apps/Fop -srcCaller run -srcCallee progress -dd full -cd full -calleeLineNumber 148 -dir backward"/>-->


<!--  PMD  -->

<!--<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-jarDir C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\pmd4.2.5 -bm pmd -mainClass Lnet/sourceforge/pmd/PMD -srcCaller start -srcCallee write -dd full -cd full -calleeLineNumber 31 -dir backward"/>-->

<!--<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-jarDir C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\pmd4.2.5 -bm pmd -mainClass Lnet/sourceforge/pmd/PMD -srcCaller doPMD -srcCallee start -dd full -cd full -calleeLineNumber 347 -dir backward"/>-->

<!--<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-jarDir C:\Users\yifei\Desktop\PLDI'16\benchmarks\DaCapo\pmd4.2.5 -bm pmd -mainClass Lnet/sourceforge/pmd/PMD -srcCaller doPMD -srcCallee processFiles -dd full -cd full -calleeLineNumber 364 -dir backward"/>-->

<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.ibm.wala.core.tests"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xss1g -Xmx6g -ea"/>
</launchConfiguration>
